/* Google fonts: Lexend, Sriracha */

/* gray: #9d939f */
/* white: #FBFFFE */
/* red: #96031a */
/* black: #FBFFFE */
/* yellow: #FAA916 */

.nav-container {
    background-color: #96031a;
    color: #fbfffe;
    font-family: "Sriracha", cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 150px;
}

.nav-links {
    list-style-type: none;
    margin-right: 5vw;
    text-shadow: 2px 4px 4px #1B1B1E;
    font-size: 28px;
}

.footer-container {
    background-color: #96031a;
    max-height: 4vh;
    min-height: 40px;
    font-size: 20px;
    color: #fbfffe;
    text-shadow: 2px 4px 4px #1B1B1E;
    font-family: "Sriracha", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer {
    margin-top: auto;
}


/* typical tablet width (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* typical mobile width (portrait) */
@media (max-width: 767px) {
    .nav-links {
        font-size: 18px;
        margin-right: 2vw;
    }
}