/* Google fonts: Lexend, Sriracha */

/* gray: #9d939f */
/* white: #FBFFFE */
/* red: #96031a */
/* black: #FBFFFE */
/* yellow: #FAA916 */

.logo {
    font-size: 60px;
    color: #9d939f;
    margin-left: 5vw;
    text-shadow: 2px 4px 4px #1B1B1E;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    text-shadow: 2px 4px 4px #FAA916;
}

.nav-container {
    background-color: #96031a;
    color: #fbfffe;
    font-family: "Sriracha", cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 150px;
}

.nav-links {
    list-style-type: none;
    margin-right: 5vw;
    text-shadow: 2px 4px 4px #1B1B1E;
    font-size: 28px;
}

.nav-links:hover {
    text-shadow: 2px 4px 4px #FAA916;
}

/* overriding default styling of links */
.nav-links a, .logo a {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    max-width: none;
}

.footer-container {
    background-color: #96031a;
    max-height: 4vh;
    min-height: 40px;
    font-size: 20px;
    color: #fbfffe;
    text-shadow: 2px 4px 4px #1B1B1E;
    font-family: "Sriracha", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* overriding styling of links */
.footer-container a {
    color: #fbfffe; 
    text-decoration: none;
    font-family: "Sriracha", cursive; 
    font-size: 20px; 
}

.footer-container a:hover {
    text-shadow: 2px 4px 4px #FAA916;
}

footer {
    margin-top: auto;
}


/* typical tablet width (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* typical mobile width (portrait) */
@media (max-width: 767px) {
    .nav-links {
        font-size: 14px;
        margin-right: 2vw;
    }

    .logo {
        font-size: 36px;
    }

    p {
        margin-top: 45px;
    }
}