.button-container {
    display: flex;
    justify-content: center;
}

.button-standard {
    margin-left: 20px;
}

input {
    width: auto;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0;
}

@media (max-width: 767px) {
    legend {
        font-size: 18px;
    }
}