/* color palette:  */
/* https://coolors.co/palette/faa916-fbfffe-6d676e-1b1b1e-96031a */

/* Google fonts: Lexend, Sriracha */

/* gray: #9d939f */

body, #root {
    background-color: #FBFFFE;
    margin: 0;
    font-family: "Lexend", sans-serif;
    color: #1B1B1E;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}

body {
    background-color: #FBFFFE;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

/* used to expand elements so footer stays on bottom */
.flex-grow {
    flex: 1;
}

.heading-h1 {
    text-shadow: 1px 2px 2px #FAA916;
    font-size: 40px;
    font-family: "Sriracha", cursive;
}

.heading-h2 {
    font-size: 36px;
}

.text-para {
    font-size: 20px;
}

.nav-container {
    background-color: #96031a;
    color: #fbfffe;
    font-family: "Sriracha", cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 150px;
}

.nav-links {
    list-style-type: none;
    margin-right: 5vw;
    text-shadow: 2px 4px 4px #1B1B1E;
    font-size: 28px;
}

.footer-container {
    background-color: #96031a;
    max-height: 4vh;
    min-height: 40px;
    font-size: 20px;
    color: #fbfffe;
    text-shadow: 2px 4px 4px #1B1B1E;
    font-family: "Sriracha", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: auto;
}

.logo {
    font-size: 60px;
    color: #9d939f;
    margin-left: 5vw;
    text-shadow: 2px 4px 4px #1B1B1E;
}

.container {
    margin-left: 5vw;
    margin-right: 5vw;
}

.button-center {
    display: block;
    margin: 40px auto 0 auto;
}

.button-standard {
    background-color: #FAA916;
    color: #1B1B1E;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 15vw;
    font-size: 20px;
    font-family: "Sriracha", cursive;
    cursor: pointer;
}

/* typical tablet width (portrait) */
@media (max-width: 768px) {
    .welcome-h1 {
        font-size: 32px;
    }

    .welcome-h2 {
        font-size: 28px;
    }

    .welcome-para {
        font-size: 16px;
    }

    .button-standard {
        max-width: 30vw;
        font-size: 18px;
    }

    .logo {
        font-size: 48px;
    }
}

/* typical mobile width (portrait) */
@media (max-width: 480px) {
    .welcome-h1 {
        font-size: 28px;
    }

    .welcome-h2 {
        font-size: 24px;
    }

    .welcome-para {
        font-size: 16px;
    }

    .button-standard {
        max-width: 50vw;
        font-size: 18px;
        padding: 12px 24px;
    }

    .logo {
        font-size: 36px;
    }

    .nav-links {
        font-size: 16px;
    }
}