/* Google fonts: Lexend, Sriracha */

/* gray: #9d939f */
/* white: #FBFFFE */
/* red: #96031a */
/* black: #FBFFFE */
/* yellow: #FAA916 */

body, #root {
    background-color: #FBFFFE;
    margin: 0;
    font-family: "Lexend", sans-serif;
    color: #1B1B1E;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}

body {
    background-color: #FBFFFE;
    margin: 0;
    padding: 0;
}

/* expands elements so footer stays on bottom */
.flex-grow {
    flex: 1;
}

h1 {
    text-shadow: 1px 2px 2px #FAA916;
    font-size: 40px;
    font-family: "Sriracha", cursive;
}

h2 {
    font-size: 36px;
}

ul, li, p {
    font-size: 22px;
}

img {
    width: 570px;
    height: auto;
}

.container {
    margin-left: 5vw;
    margin-right: 5vw;
}

.logo {
    font-size: 60px;
    color: #9d939f;
    margin-left: 5vw;
    text-shadow: 2px 4px 4px #1B1B1E;
}

.button-center {
    display: block;
    margin: 40px auto 0 auto;
}

.button-standard {
    background-color: #FAA916;
    color: #1B1B1E;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 15vw;
    font-size: 20px;
    font-family: "Sriracha", cursive;
    cursor: pointer;
}

/* typical tablet width (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    p, ul, li {
        font-size: 24px;
    }

    .button-standard {
        max-width: 30vw;
        font-size: 18px;
    }

    .logo {
        font-size: 70px;
    }
}

/* typical mobile width (portrait) */
@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    p, ul, li {
        font-size: 18px;
    }

    .button-standard {
        max-width: 50vw;
        font-size: 18px;
        padding: 12px 24px;
    }

    .logo {
        font-size: 36px;
    }

}