/* Google fonts: Lexend, Sriracha */

/* gray: #9d939f */
/* white: #FBFFFE */
/* red: #96031a */
/* black: #1B1B1E */
/* yellow: #FAA916 */

body {
    background-color: #FBFFFE;
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    color: #1B1B1E;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}

/* expands elements so footer stays on bottom */
.flex-grow {
    flex: 1;
}

h1 {
    text-shadow: 1px 2px 2px #FAA916;
    font-size: 40px;
    font-family: "Sriracha", cursive;
}

h2 {
    font-size: 36px;
}

ul, li, p, label {
    font-size: 22px;
}

img {
    width: 570px;
    height: auto;
    border: 2px solid #1B1B1E;
    border-radius: 25px;
}

textarea {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3vh;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 8px; 
}

label {
    margin-left: 0;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

input {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 8px;
}

legend {
    font-size: 28px;
    text-shadow: 1px 1px 1px #FAA916;
    font-family: "Sriracha", cursive;
    color: #1B1B1E;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.header-image {
    width: 60%;
    height: auto;
}

.container {
    margin-left: 5vw;
    margin-right: 5vw;
}

.centered {
    flex-direction: column;
    align-items: center;
}

.centered, .button-centered {
    display: flex;
    justify-content: center;
}

.radio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}

.radio-container div {
    text-align: left;
}

.button-standard {
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 15vw;
    font-size: 20px;
    font-family: "Sriracha", cursive;
    cursor: pointer;
}

.red {
    background-color: #96031a;
    color: #FBFFFE;
    border: 2px solid #1B1B1E;
}

.yellow {
    background-color: #FAA916;
    color: #1B1B1E;
    border: 2px solid #1B1B1E;
}

.gray {
    background-color: #9d939f;
    color: #1B1B1E;
    text-shadow: 1px 1px 1px #FAA916;
    border: 2px solid #1B1B1E;
}

.display-none {
    display: none;
}

.error-message {
    color: #96031a;
    margin-top: -10px;
    font-size: 18px;
}

/* typical tablet width (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    p, ul, li, label {
        font-size: 24px;
    }

    .button-standard {
        max-width: 30vw;
        font-size: 18px;
    }

    .logo {
        font-size: 70px;
    }
}

/* typical mobile width (portrait) */
@media (max-width: 767px) {
    h1 {
        font-size: 28px;
        margin-top: 5vh;
    }

    h2 {
        font-size: 24px;
    }

    p, ul, li, label {
        font-size: 18px;
    }

    .button-standard {
        max-width: 50vw;
        font-size: 18px;
        padding: 12px 24px;
    }

    .logo {
        font-size: 36px;
    }

    fieldset {
        padding: 10px;
    }

    .header-image {
        margin-bottom: 5px;
    }

}