/* Google fonts: Lexend, Sriracha */

/* gray: #9d939f */
/* white: #FBFFFE */
/* red: #96031a */
/* black: #FBFFFE */
/* yellow: #FAA916 */

.card-container {
    display: flex;
    flex-direction: row;
    background-color: #9d939f;
    margin: 30px 25px 30px 25px;
    align-items: center;
    border-radius: 12px;
}

.details-container {
    display: flex;
    flex-direction: column;
    margin: 20px 15px 20px 15px;
}

.error-message-results {
    color: #96031a;
    font-size: 24;
}

img {
    width: 600px;
    height: auto;
    margin: 20px 30px 20px 30px;
}

/* typical tablet width */
@media (min-width: 768px) and (max-width: 1023px) {
    img {
        width: 500px;
        margin-bottom: -20px;
        margin-top: 35px;
    }
    
    h1 {
        margin-bottom: -8px;
    }

    .card-container {
        flex-direction: column;
        margin: 30px 25px 30px 25px;
    }

    .details-container {
        flex-direction: column;
    }

}


/* typical mobile width */
@media (max-width: 767px) {
    img {
        width: 300px;
        height: auto;
        margin-bottom: -35px;
        margin-top: 25px;
    }
    
    h1 {
        margin-bottom: -8px;
    }

    .card-container {
        flex-direction: column;
        margin: 15px 8px 15px 8px;
    }

    .details-container {
        flex-direction: column;
    }

}